.kutuKategori{
    .kutuFooterDefault {
        display: none;
    }
    .kutuHeaderKategori{
        .btnCatShow{
            text-align: left;
            font-family: $avenir-bold;
            font-size: 14px;
            letter-spacing: 1px;
            padding: 18px 20px 17px 0;
            position: relative;
            cursor: pointer;
            &:after{
                font-family: 'icomoon';
                content: "\e900";
                line-height: 14px;
                font-size: 12px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -7px;
                @include setTransform(rotate(180deg));
            }
        }
    }
    ul.menuKategori{
        li{
            .filter-count{
                display: none;
            }
            b{
                display: none;
            }
            a{
                display:block;
                padding: 12px 10px 8px 30px;
                position: relative;
                font-family: $regular;
                font-size: 14px;
                color: $lDark;
                @include transition(all .2s ease);
                &:hover{
                    padding-left: 35px;
                    &:before{
                        border-color: $lDark;
                    }
                }
                &:before{
                    font-family: 'icomoon';
                    content:'';
                    width: 11px;
                    height: 11px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    font-size: 8px;
                    text-align: center;
                    line-height: 11px; 
                    margin-top: -6px;
                    @include transition(all .2s ease);
                    border: 2px solid #9f9f9f;
                }
            }
            &.act{
                a.active{
                    &:before{
                        border-color: $lDark;
                        content:'\e92e';
                    }
                }
            }
        }
        > li{
             > ul{
                padding-left: 15px;
            }
        }
    }
}
.kutuKategori.kapali{
    .kutuHeaderKategori{
        .btnCatShow{
            &:after{
                @include setTransform(rotate(0deg));
            }
        }
    }
}

.kutuSolMenuTree{
    .sStylerMainWrp.sStylerWrp_select,
    .kutuHeaderSolMenuTree{display:none;}

    .kutuBodyDefault{
        > ul{
            > li{
                b{display:none;}
                > a{
                    display: block;
                    padding-bottom: 30px;
                    font-family: $mediumA;
                    font-size: 36px;
                }
                > ul{
                    display: table;
                    width: 100%;
                    > li{
                        text-align: left;
                        position: relative;
                        a{
                            display: block;
                            font-size: 18px;
                            color: #5c606d;
                            font-family: $regular;
                            padding: 6px 10px 6px 20px;
                            position: relative;
                            @media screen and (min-width: $breakpointXSM){
                                &:hover{
                                    color: $lDark;
                                }
                            }
                        }
                        &.act{
                            a{
                                font-family: $mediumA;
                                color: $lDark;
                                &:before{
                                    content: '';
                                    width: 1px;
                                    height: 100%;
                                    background: $lDark;
                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .kutuKategori{
        ul.menuKategori{
            width: 100%;
            > li{
                display: block;
                margin-top: 10px;
                &:first-child{margin-top: 0;}
                > b{height: 60px;}
                > a{
                    display: block;
                    background: $Gray;
                    padding: 23px 35px 22px 15px;
                    font-family: $mediumA;
                    &:before{ display: none; }
                    &:after{
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        width: 24px;
                        height: 24px;
                        font-size: 12px;
                        text-align: center;
                        line-height: 25px;
                        margin-top: -12px;
                        margin-left: 0;
                    }
                }
                &.activeted{
                    > a{
                        &:after{ content: '\e905'; }
                    }
                }
                > ul{
                    position: relative;
                    top: inherit;
                    left: inherit;
                    width: 100%;
                    padding: 10px 15px;
                    background: #fff;
                    li{
                        display: block;
                        vertical-align: top;
                        width: 100%;
                        a{
                            display: block;
                            padding-top: 10px;
                            padding-bottom: 10px;
                            &:before{background: #fff;}
                        }
                    }
                }
            }
        }
    }
    .kutuSolMenuTree{
        .kutuBodySolMenuTree {display: none;}
        .sStylerMainWrp.sStylerWrp_select{
            display: block;
            position: fixed;
            top: 49px;
            left: 0;
            width: 100%;
            z-index: 1;
            background: #fff;
            .sStylerWrp{
                line-height: 35px;
                height: 45px;
                &:after{right: 10px;}
            }
        }
    }
}