.kutuKategori{
    .kutuFooterDefault {
        display: none;
    }
    .kutuHeaderKategori{
        .btnCatShow{
            text-align: left;
            font-family: $avenir-bold;
            font-size: 14px;
            letter-spacing: 1px;
            padding: 18px 20px 17px 0;
            position: relative;
            cursor: pointer;
            @media screen and (min-width: $breakpointXSM){
                text-transform: uppercase;
            }
            &:after{
                font-family: 'icomoon';
                content: "\e900";
                line-height: 14px;
                font-size: 12px;
                width: 12px;
                height: 12px;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: -7px;
                @include setTransform(rotate(180deg));
            }
        }
    }
    ul.menuKategori{
        li{
            .filter-count{
                display: none;
            }
            b{
                display: none;
            }
            a{
                display:block;
                padding: 12px 10px 8px 30px;
                position: relative;
                font-family: $regular;
                font-size: 14px;
                color: $lDark;
                @include transition(all .2s ease);
                &:hover{
                    padding-left: 35px;
                    &:before{
                        border-color: $lDark;
                    }
                }
                &:before{
                    font-family: 'icomoon';
                    content:'';
                    width: 11px;
                    height: 11px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    font-size: 8px;
                    text-align: center;
                    line-height: 11px; 
                    margin-top: -6px;
                    @include transition(all .2s ease);
                    border: 2px solid #9f9f9f;
                }
            }
            &.act{
                a.active{
                    &:before{
                        border-color: $lDark;
                        content:'\e92e';
                    }
                }
            }
        }
        > li{
            @media screen and (min-width: 850px){
                ::-webkit-scrollbar {
                    width: 3px;
                }
                ::-webkit-scrollbar-track {
                    background: $Gray;
                }
                ::-webkit-scrollbar-thumb {
                    background: $lDark;
                }
                ::-webkit-scrollbar-thumb:window-inactive {
                    background: $lDark;
                }
                > ul{
                    overflow-x: hidden;
                    max-height: 175px;
                }
            }
             > ul{
                padding-left: 15px;
                > li{
                    > ul{
                        display: none;
                    }
                    /*&.s2{display: none;}*/
                    &.sel.s2.act{
                        display: block;
                        > ul{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.kutuKategori.kapali{
    .kutuHeaderKategori{
        .btnCatShow{
            &:after{
                @include setTransform(rotate(0deg));
            }
        }
    }
}

.kutuSolMenuTree{
    .sStylerMainWrp.sStylerWrp_select,
    .kutuHeaderSolMenuTree{display:none;}

    .kutuBodyDefault{
        > ul{
            > li{
                b{display:none;}
                > a{
                    display: block;
                    padding-bottom: 30px;
                    font-family: $mediumA;
                    font-size: 36px;
                }
                > ul{
                    display: table;
                    width: 100%;
                    > li{
                        line-height: 30px;
                        a{
                            display: block;
                            font-size: 16px;
                            color: #000000;
                            font-family: $regular;
                            padding: 5px 0px;
                            position: relative;
                            @media screen and (min-width: $breakpointXSM){
                                &:hover{
                                    color: $red;
                                }
                            }
                        }
                        &.act{
                            a{
                                font-family: $bold;
                                &:after{
                                    content: '';
                                    width: 3px;
                                    height: 70%;
                                    background: #ee0676;
                                    position: absolute;
                                    right: 0;
                                    top: 15%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .kutuKategori{
        .kutuHeaderKategori{
            > span{
                .btnCatShow{
                    transition: none;
                    font-family: $regular;
                    font-size: 14px;
                    border-bottom: 1px solid $Gray;
                    padding-top: 23px;
                    padding-bottom: 22px;
                    padding-right: 50px;
                    padding-left: 15px;
                    width: auto;
                    display: block;
                    margin-left: 10px;
                    margin-right: 10px;
                    > span{
                        &.mobile-element {
                            float: right;
                            color: #6c6c6c;
                            letter-spacing: 0;
                        }
                    }
                    &:after{
                        content: '\e903';
                        transform: none;
                        width: 30px;
                        font-size: 15px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        right: 5px;
                        margin-top: -15px;
                    }
                }
            }
        }
        ul.menuKategori{
            padding: 10px 25px;
            > li > ul{padding-left: 0;}
        }
    }
    .kutuSolMenuTree{
        .kutuBodySolMenuTree {display: none;}
        .sStylerMainWrp.sStylerWrp_select{display: block;}
        .sStylerMainWrp.kutu-body-sol-menu-selecbox{
            .sStylerWrp{
                background: #f6f6f6;
                border-bottom: 1px solid $Gray;
                font-family: $mediumA;
                color: #6c6c6c;
                font-size: 14px;
                padding: 10px 20px 10px 20px;
                height: 50px;
                line-height: 30px;
                display: block;
                &:after{
                    right: 20px;
                }
                select{padding: 10px;}
            }
        }
    }
    body.mobiOpened {
        .kutuKategori .kutuHeaderKategori > span .btnCatShow{
            border-bottom: none;
            text-align: right;
            background: #fbfbfb;
            margin-left: 0;
            margin-right: 0;
            padding-left: 50px;
            padding-right: 15px;
            > span{
                &.mobile-element{display: none;}
            }
            &:after{
                right: inherit;
                left: 15px;
                @include setTransform(rotate(180deg));
            }
        }
    }
}