/*Yorum*/
.urunListe_yorum{
    .urunListe_yorumSayi,
    span[id$="lblURUNYORUM_ORTALAMAPUAN"]{display: none;}
    .yorumRating,
    .yorumRating a:hover,
    .yorumRating a:active,
    .yorumRating a:focus,
    .yorumRating .puanSelected,
    .current-rating,
    .star-rating{ background:url(#{$baseHref + "/images/frontend/star-icons-small.png"}) repeat-x; }

    .star-rating{
        width: 60px;
        height: 12px;
    }
    .yorumRating a,
    .yorumRating .puanSelected,
    .current-rating{
        height: 12px;
        line-height: 12px;
    }
    .yorumRating .puanSelected,
    .current-rating{
        z-index: 1;
        background-position: left bottom;
        width: 0;
    }
}

.ems-banner-strech{
    background: #E1E1E1;
    padding: 10px;
    margin-top: 50px;
    &-left,
    &-right{
        float: left;
    }
    &-left{
        width: 324px;
        padding: 10px;
        .text{
            > span{
                display: block;
                &.first{
                    font-family: $avenir-medium;
                    font-size: 25px;
                    margin-top: 20px;
                }
                &.last{
                    margin-top: 10px;
                    font-family: $regular;
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        .button{
            .btnAlternate{
                margin-top: 90px;
            }
        }
    }
    &-right{
        width: calc(100% - 324px);
    }
    .widget ul.emosInfinite{
        .ems-prd{
            width: 33.333%;
            &-image{
                border: none;
            }
            &-content{
                background: #dddddd;
                background: linear-gradient(to bottom, rgba(2222, 2222, 2222, 0.5), rgba(255, 255, 255, 0.5));
            }
        }
    }
}

@media screen and (min-width: $breakpointXSM){
    .ems-product-banner{
        &-inner{
            width: 100%;
            display: table;
            table-layout:fixed;
            margin-top: 50px;
            > div{
                display: table-cell;
                vertical-align: middle;
            }
            .cover{
                a{display: block;}
            }
            .text{
                position: absolute;
                bottom: 50px;
                left: 50px;  
                color: #fff;
                max-width: 350px;
                pointer-events: none;
                > span{
                    display: block;  
                    &.first{
                        font-family: $avenir-medium;
                        font-size: 30px;
                    }  
                    &.last{
                        font-family: $regular;
                        font-size: 14px;
                        margin-top: 10px;
                        line-height: 20px;
                    }
                } 
            }
            .widget ul.emosInfinite{
                .ems-prd{
                    width: 100%;
                    max-width: 258px;
                }
            }
            .cover{
                img{
                    width: 100%;
                    max-height: 550px;
                }
            }
        }
        &-right{
            width: 66.666%;
            max-width: 800px;
            position: relative;
        }
        &-left{
            width: 33.333%;
            border-width: 1px 0 1px 1px;
            border-style: solid;
            border-color: $Gray;
        }
    }
}

.ems-page{
    &-list{
        position: relative;
        /*Arama hidden*/
        .tableTitleArama,
        .pageArama,
        .tableArama,
        .tblBtnAraIptal{
            display: none;
        }
        &-full{
            width: 100%;
        }
        &:empty{display: none;}
        .widget{
            &-landing-page{
                padding-top: 25px;
                padding-bottom: 25px;
                .swiper-title{
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
        }
        .widget .swiper-button-prev,
        .widget .swiper-button-next,
        .widget .swiper-pagination{display: none !important;}

        .desktop-element-count{
            display: table;
            width: auto;
            > div{
                display: table-cell;
                vertical-align: middle;
                padding-top: 17px;
                padding-bottom: 17px;
            }
            .ems-desktop-cat-name{
                text-transform: uppercase;
                letter-spacing: 1px;
                color: #9f9f9f;
                padding-right: 10px;
                > a{pointer-events: none;}
            }
            .urunKiyaslamaOzellik_UrunSayi{
                span{
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: #9f9f9f;
                    &:before{
                        content:'(';
                    }
                    &:after{
                        content: ')';
                    }
                }
            }
        }
        .ems-container{
            &:empty{display: none;}
        }
        .ems-container-landing-page{
            display: none;
        }
        @media screen and (min-width: $breakpointXSM){
            .site-video-player{margin-top: 50px;}
        }
    }
    &-list-search{
        .ems-page-list-full .ems-container-section-first{display: none;}
    }
    .navigasyon > span{
        &:empty{display: none;}
    }
}

.ems-prd-list{
    &-paging-bottom{
        table{
            tbody{
                tr{
                    td{
                        width: auto;
                        &:nth-child(1){ display: none; }
                        &:nth-child(3){ display: none; }
                        &:nth-child(2){ width:100% !important; }
                        .urunPaging_btnKiyaslama, .urunPaging_paging{display:none;}
                        .urunPaging_pageNavigation{
                            position: relative;
                            text-align: center;
                            > span{
                                display: inline-block;
                                vertical-align: middle;
                                min-width: 20%;
                                &:empty{
                                    display: none;
                                }
                                .paging{
                                    display: inline-block;
                                    vertical-align: middle;
                                    color: $lDark;
                                    font-family: $avenir-medium;
                                    font-size: 16px;
                                    padding: 5px 0;
                                    width: 40px;
                                    height: 40px;
                                    line-height: 30px;
                                    border: 1px solid #e1e1e1;
                                    text-align: center;
                                    @include transition(all .2s ease);
                                }
                                span.paging, a.paging{
                                    margin-left: 10px;
                                    &:first-child{
                                        margin-left: 0;
                                    }
                                }
                                span.paging{
                                    border-color: transparent;
                                    background: $red;
                                    color: #ffffff;
                                }
                            }
                            > a.paging{
                                display: inline-block;
                                vertical-align: middle;
                                padding-top: 14px;
                                padding-bottom: 9px;
                                span {display: none;}
                            }
                            a[id$="lnkPrev"],
                            a[id$="lnkNext"]{
                                &:after{
                                    font-family: $avenir-medium;
                                    letter-spacing: 1.8px;
                                    font-size: 16px;
                                }
                            }
                            a[id$="lnkPrev"]{
                                color:#9f9f9f;
                                &:after{
                                    content:'ÖNCEKİ';
                                }
                            }
                            a[id$="lnkNext"]{
                                &:after{
                                    content:'SONRAKİ';
                                }
                            }
                            > a.firstPage, > a.lastPage{
                                display:none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Filtre seçim*/
.pnlUrunKiyasSecim{
    .urunKiyaslamaOzellik_secimbaslik,
    .urunKiyaslamaOzellik_UrunSayi{display: none;}
    .urunKiyaslamaOzellik_secimler{
        @include flex();
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 10px 10px 0 10px;
    }
    .urunKiyaslamaOzellik_tumunuTemizle{
        display: inline-block !important;
        margin-bottom: 10px;
        > a{
            position: relative;
            background: #f8f8f8;
            display: inline-block;
            min-height: 55px;
            padding: 13px 15px 12px 50px;
            span{
                i{
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 20px;
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    margin-top:-15px; 
                }
            }
        }
    }
    .ozellikSecimGrup{
        background: #f8f8f8;
        padding: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        min-width: 15%; 
        .ozellikFiltreBaslik{
            color: #6c6c6c;
        }
        .ozellikFiltreSecim{
            > a{
                display: inline-block;
                background:url(#{$baseHref + "/images/frontend/filter-remove.svg"}) center left no-repeat;
                padding-left: 20px;
                margin-top: 5px;
                margin-left: 15px;
                &:first-child{margin-left: 0;}
            }
        }
    }
}

.ems-product-list-empty-layout{
    .ems-cat-description,
    .ems-prd-list,
    .slider-container-listpage,
    .ems-single-banner,
    .desktop-element-sortable{
        display: none;
    }
    @media screen and (min-width: $breakpointXSM){
        .ems-page-list{
            .ems-container-full-last-right{
                padding-left: 65px;
            }
        }
    }
}
.ems-page-list.prd-list-hidden{
    .level-brand-hidden{display: none;}
}


@media screen and (min-width: $breakpointXSM){
    .ems-page{
        &-list{
            padding-bottom: 50px;
            /**/
            .slider-container-listpage{
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 30px;
            }
            .ems-container{
                &-section-first{
                    max-width: 1240px;
                }
                &-full-last-left,
                &-full-last-right{
                    float: left;
                }
                &-full-last-left{
                    width: 240px;
                    padding: 0 15px 10px 25px;
                    background: #fff;
                }
                &-full-last-right{
                    width: calc(100% - 240px);
                    padding-left: 40px;
                    .ems-desktop-count{
                        .urunKiyaslamaOzellik_UrunSayi span{color:$dGray; font-size: 14px;}
                        span[id$="lblFiltreler"]{display: none;}
                        span[id$="lblKayitSayisi"]{display: none;}   
                    }
                    .ems-desktop-sort{
                        .sStylerMainWrp.sStylerWrp_select{
                            .sStylerWrp{
                                height:35px;
                                line-height:25px;
                                color:$darkBlack;
                                font-size: 14px;
                                border: none;
                                padding-right: 30px;
                                &:after{
                                    right: 5px;
                                }
                            }
                        }
                    }
                }
            }
            .ems-single-banner {
                .swiper-container{
                    &-default{
                        margin-bottom: 20px;
                        .swiper-slide {
                            &-cover{
                                > a{
                                    display: block;
                                    position: relative;
                                    &:before{
                                        content:'';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-blend-mode: multiply;
                                        background: linear-gradient(to left, transparent 30%, rgba(0, 0, 0, 0.4) 70%);
                                        z-index: 1;
                                        display: block;
                                    }
                                }
                            }   
                        }
                        .swiper-content{
                            left: 40px;
                            transform: none;
                            top: inherit;
                            bottom: 25px;
                            max-width: 390px;
                            &-inner{
                                .discount{
                                    display: inline-block;
                                    background: $red;
                                    color: #fff;
                                    font-family: $bold;
                                    text-align: center;
                                    min-width: 35px;
                                    padding: 10px 2px;
                                    margin-bottom: 20px;
                                }
                                > span{
                                    color: #fff;
                                    display: block;
                                    &.title-1{font-size: 35px; font-family:$avenir-medium;}
                                    &.title-2{margin-top: 50px; font-size: 14px; font-family: $regular;}
                                }
                            }
                        }
                    }
                }
            }
        }
        &-list-search{
            .tableTitleArama{display:none;}
            .ems-page-cover-text{
                max-width: 780px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                p{
                    width: 100%;
                    font-family: $regular;
                    font-size: 14px;
                    letter-spacing: 3px;
                    color: #0e3d6d;
                    line-height: normal;
                    text-transform: uppercase;
                    span{
                        display: inline-block;
                        line-height: normal;
                        div span{
                            font-family: $regular !important;
                            font-size: 14px !important;
                            letter-spacing: 3px;
                            color: #0e3d6d !important;
                        }
                    }   
                }
            }
        }
        .popular-link{
            padding-left: 10px;
            padding-right: 10px;
            &-title{
                padding-top: 20px;
                padding-bottom: 20px;
                position: relative;
                span {
                    display: inline-block;
                    vertical-align: middle;
                    font-family: $avenir-bold;
                    font-size: 18px;
                    letter-spacing: 2px;
                    color: #000;
                    padding-right: 20px;
                    background: #fff;
                    position: relative;
                    z-index: 2;
                }
                .line{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 100%;
                    z-index: 1;
                    height: 2px;
                    background: #e1e1e1;
                    margin-top: -1px;
                }
            }
            ul{
                display: table;
                table-layout: fixed;
                width: 100%;
                padding-bottom: 25px;
                li{
                    display: table-cell;
                    vertical-align: middle;
                    width: 20%;
                    a{
                        display: block;
                        text-align: center;
                        span{display: none;}
                    }
                }
            }
        }
    }
    .desktop-element-sortable{
        @include flex();
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e4e4e4;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .ems-prd-list{
        &-sort-desktop{
            ul{
                display: table;
                table-layout: fixed;
                li{
                    display: table-cell;
                    vertical-align: middle;
                    padding-left: 40px;
                    &:first-child{padding-left: 0;}
                    a{
                        display: block;
                        padding:17px 5px;
                        position: relative;
                        &:hover{
                            color:$red;
                        }
                        span{
                            font-family: $avenir-medium;
                            letter-spacing: 1px;
                            font-size: 14px;
                        }
                    }
                    &.selected{
                        a{
                            &:after{
                                content:'';
                                position: absolute;
                                bottom: 0;
                                left:0;
                                width: 100%;
                                height: 2px;
                                background: $red;
                            }
                        }
                    }
                }
            }
        }
        &-view{
            display: table;
            table-layout: fixed;
            ul{
                li{
                    display: table-cell;
                    vertical-align: middle;
                    a{
                        display: block;
                        width: 40px;
                        height: 40px;
                        text-align: center;
                        i{line-height: 40px;}
                        i, i:before{
                            font-size: 22px;
                        }
                        &:hover{
                            i:before{color: $red;}
                        }
                    }
                    &.selected{
                        a{
                            i:before{
                                color: $red;
                            }
                        }
                    }
                }
            }
        }
        &-prop{display: none;}
    }

    .ems-cat-description{
        padding: 10px;
        min-height: 130px;
        max-height: 320px;
        overflow: hidden;
        &-inner{
            text-align: left;
            position: relative;
            padding-top: 10px;
            padding-bottom: 10px;
            &:after{
                content:'';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                max-height: 110px;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0.55), #ffffff);
            }
            p{
                margin: 5px 0;
                font-size: 12px;
                color: rgba(0,0,0,0.40);
                line-height: 20px;
                strong{
                    font-size: 14px;
                    font-family: $bold;
                }
            }
        }
        .show-more{
            text-align: left;
            a{
                display: inline-block;
                padding: 10px 0;
                font-family: $bold;
                font-size: 15px;
                span, i{
                    display: inline-block;
                    vertical-align: middle;
                }
                .hide-read{display: none;}
                i{margin-left: 10px;}
                span, i:before{@include transition(all .2s ease);}
                i,i:before{
                    font-size: 11px;
                }
                &:hover{
                    span, i:before{color: $red;}
                }
            }
        }
        &.opened{
            max-height: inherit;
            .ems-cat-description-inner{
                &:after{display: none;}
            }
            .show-more{
                a{
                    .more-read{display: none;}
                    .hide-read{display: inline-block;}  
                }
            }
        }
    }
}

ul.emosInfinite {
    .ems-prd {
        width: 25%;
        min-height: 100px;
        &-inner{
            position: relative;
            margin: 0 auto;
            width: 100%;
            padding:10px;
        }
        &-mask{
            position: relative;
            background: #fff;
        }
        &-new{
            position: absolute;
            left: 10px;
            top: 10px;
            z-index: 1;
            background:#fff; 
            .urunListe_yeniUrun{
                display: block !important;
                span{
                    font-family: $regular;
                    font-size: 14px;
                    color: $green;
                    &:empty{ display: none; }
                 }
            }
            &:empty{display: none;}
        }
        &-stock{
            .urunListe_urunStokUyari{
                height: 20px;
                min-height:20px;
                span{
                    font-family: $mediumA;
                    font-size: 14px;
                    color: #a2a5ac;
                }
                &:empty{
                    display: none;
                }
            }
        }
        &-image{
            overflow: hidden;
            border-width:1px 1px 0 1px;
            border-style: solid; 
            border-color:rgba(200,200,200,.5);
            > a{
                display: block;
                max-width: 215px;
                margin: 0 auto;
                img{
                    width: 100%;
                    max-width: 215px;
                }
            }
        }
        &-brand{
            font{color: #6c6c6c; }
        }
        &-comment-line{
            display: table;
            width: 100%;
            table-layout: fixed;
            > div{
                display: table-cell;
                vertical-align: middle;
                min-width: 50%;
                &:first-child{text-align: left;}
                &:last-child{text-align: right;}
            }  
        }
        &-content{
            position: relative;
            min-height: 175px;
            background: linear-gradient(to bottom, rgba(200,200,200,0.20), rgba(255,255,255,0.50));
            padding: 15px 15px 0 15px;    
        }
        &-name{
            max-height: 36px;
            min-height: 36px;
            overflow: hidden;
            margin-bottom: 10px;
            a{
                font-size: 14px;
                font-family:$regular;
                display: inline-block;
                line-height: 18px;
            }
        }
        &-color-info{
            > span{
                display: inline-block;
                &:before{
                    content: '+';
                    font-family: $regular;
                    font-size: 14px;
                    position: relative;
                    top: -1px;
                    padding-right: 2px;
                    color: #7c7c7c;
                }
                b{padding-right: 2px; }
                b, span{
                    font-weight: normal;
                    font-family: $regular;
                    font-size: 14px;
                    color: #7c7c7c;
                }
            }
        }
        &-group{
            width: 100%;
            height: 0;
            overflow: hidden;
            font-size: 0;
            position: absolute;
            bottom: 10px;
            left: 0;
            &-inner{
                padding: 0 25px;
                .swiper-container {
                    overflow: visible;
                    .swiper-inner{
                        ul{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                            @include flex();
                            -webkit-transition-property: -webkit-transform;
                            -moz-transition-property: -moz-transform;
                            -o-transition-property: -o-transform;
                            -ms-transition-property: -ms-transform;
                            transition-property: transform;
                            -webkit-box-sizing: content-box;
                            -moz-box-sizing: content-box;
                            box-sizing: content-box;
                            li{
                                width: 52px;
                                height: 43px;
                                overflow: hidden;
                                -webkit-flex-shrink: 0;
                                -ms-flex: 0 0 auto;
                                flex-shrink: 0;
                                position: relative;
                                text-align: center;
                                padding:0 4px;
                                a{
                                    display: inline-block;
                                    width: 36px;
                                    height: 43px;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                    .swiper-button-prev {left:-25px;}
                    .swiper-button-next {right:-25px;}
                    .swiper-button-prev,
                    .swiper-button-next{
                        width:24px;
                        height:24px;
                        background: none;
                        padding-top: 0;
                        margin-top: -12px;
                        i{
                            line-height: 24px;
                        }
                        i, i:before{
                            font-size: 12px;
                            color: $lDark;
                        }
                    }
                    @media screen and (min-width: $breakpointXSM){
                        &.color-item-1,
                        &.color-item-2,
                        &.color-item-3,
                        &.color-item-4,
                        &.color-item-5{
                            .swiper-button-prev,
                            .swiper-button-next{display: none;}
                            ul{
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        &-price{
            @include flex();
            align-items: center;
            justify-content: flex-start;
            padding-bottom: 15px;
            min-height: 45px;
            > div, > span{
                &:empty{
                    display: none;
                }
            }
            &-first{
                font-size: 16px;
                font-family: $regular;
                color: #6c6c6c;
                text-decoration: line-through;
                .urunListe_brutFiyat{
                    &:before{
                        font-family: $tl;
                        content:'t';
                        font-size: 14px;
                        color: #6c6c6c;
                        float: left;
                        position: relative;
                        top: 1px;
                        padding-right: 1px;
                    }
                }
            }
            &-selling{
                padding-right: 10px;
                font-size: 24px;
                font-family: $bold;
                color: #000;
                .urunListe_satisFiyat{
                    &:before{
                        font-family: $tl;
                        content:'t';
                        font-size: 19px;
                        float: left;
                        position: relative;
                        top: 4px;
                        padding-right: 1px;
                    }
                }
            }
        }
        &-last-prd{
            .urunListe_sonKacUrun{
                display: inline-block !important;
                text-align: left;
                > span{
                    font-family: $regular;
                    font-size: 14px;
                    color: $red;
                }
            }
        }
        &-discount{
         .urunListe_pnlIndirimOran{
             display: inline-block !important;
             span.urunListe_IndirimOran{
                    font-family: $bold;
                    background: $red;
                    color: #fff;
                    padding: 7px 2px;
                    min-width: 35px;
                    display: inline-block;
                    text-align: center;
                    margin-right: 10px;
                    small{font-size: 14px;}
                    &:empty{
                        display: none;
                    }
                }
            }
        }
        &-add-cart{
            display: table;
            table-layout: fixed;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            &-view,
            &-inner{
                display: table-cell;
                vertical-align: middle;
                min-width: 50%;
                text-align: center;
            }
            &-view{
                > a{
                    text-align: center;
                    padding: 6px 5px 4px 5px;
                    display: block;
                    font-family: $avenir-medium;
                    font-size: 14px;
                    min-height: 30px;
                    line-height: 20px;
                    background: #dedede;
                }
            }
            .urunListe_sepetGrup{
                .urunListe_adet{display: none;}
                .urunListe_sepet{
                    table{
                        display: table !important;
                    }
                }
            }
            .urunListe_stokHaberci{
                table{
                    display: table !important;
                }
            }
            .urunListe_stokHaberci,
            .urunListe_sepetGrup{
                .btnDefault{
                    padding: 6px 5px 4px 5px;
                    background: #7b58f5;
                    color: #fff;
                    text-align: center;
                    font-family: $avenir-medium;
                    font-size: 14px;
                    min-height: 30px;
                    line-height: 20px;
                }
            }
        }
        &.no-color{
            .ems-prd-color-info{
                opacity: 0;
                visibility: hidden;
            }
        }
        @media screen and (min-width: $breakpointXSM){
            &:hover{
                .ems-prd-favorites {
                    opacity: 1;
                    visibility: visible;
                    overflow: visible;
                }
            }
        }
    }
}

.product-empty{
    @media screen and (min-width: $breakpointXSM){
        min-height: 400px;
    }
    .ems-container-full{
        > div{
            text-align: left;
            &.title{
                span{
                    display: block;
                    font-size: 20px;
                    margin-top: 10px;
                    font-family: $avenir-medium;
                    color: $red;
                }
            }
            &.link{
                .btnDefault{
                    max-width: 240px;
                    margin-top: 20px;
                    border: 1px solid $lDark;
                    margin-left: auto;
                    margin-right: auto;
                    @media screen and (min-width: $breakpointXSM){
                        &:hover{
                            background: $lDark;
                            span{
                                color: #fff;
                            }
                        }       
                    }
                }
            }
        }
    }
}

.ems-page-404{
    background:url(#{$baseHref + "/Upload/BANNERS/covers/404-cover.jpg"}) no-repeat;
    background-size: cover;
    background-position: top left;
    padding-top: 100px;
    padding-bottom: 50px;
    height: calc(100% - 100px);
    .page-empty{
        .product-empty{
            > .ems-container-full {
                max-width: 1000px;
                position: relative;
                margin: 100px auto 100px auto;
                width: 100%;
                text-align: right;
            }
            .logo{
                position: fixed;
                width: 100%;
                text-align: center;
                background: #fff;
                padding: 35px 0;
                top: 0;
                left: 0;
                z-index: 20;
            }
            .warning-container{
                max-width: 370px;
                display: inline-block;
                text-align: right;
                padding-right: 20px;
                padding-left: 20px;
                .title-bold{
                    font-family: $mediumA;
                    font-size: 200px;
                    text-indent: -10px;
                }
                .title{
                    margin-top: 10px;
                    font-family: $mediumA;
                    font-size: 36px;
                }
                .link{
                    .btnDefault {
                        margin-top: 30px;
                        background: $lDark;
                        color: #fff;
                        max-width: 210px;
                        @media screen and (min-width: $breakpointXSM){
                            &:hover{
                                background: $red;
                            }
                        }
                    }
                }
            }    
        }
    }
}

//////////////////////////////////////
.uclu{
    ul.emosInfinite {
        .ems-prd{
            width: 33.333%;
        }
    }
}
.dortlu{
    ul.emosInfinite {
        .ems-prd{
            width: 25%;
        }
    }
}


@media screen and (max-width: 1250px){
    body.dortlu{
        ul.emosInfinite {
            .ems-prd{
                width: 33.333%;
            }
        }
    }
}

@media screen and (max-width: 1024px){
    body.uclu, body.dortlu{
        ul.emosInfinite {
            .ems-prd{
                width: 50%;
            }
        }
    }

    .ems-page-list-container{
        padding-left: 20px;
        padding-right: 0;
    }
    .ems-prd-list-top-center{
        padding-left: 20px;
    }
    .ems-prd-list-top-center-inner > .ems-col-right .ems-col-inner{
        padding-left: 5px;
        padding-right: 5px;
    }

}

@media screen and (max-width: $breakpointXSM){
    /*Search page*/
    .ems-search-page-layout{
        .site-footer{
            width: 0;
            height: 0;
            font-size: 0;
            margin: 0;
            padding: 0;
            border: none;
            overflow: hidden;
            visibility: hidden;
        }
    }

    .ems-cat-description{
        display: none;
        &-inner{
            padding-left: 0;
            padding-top: 0;
        }
    }
    
    .ems-page{
        &-list{
            padding-bottom: 40px;
            .navigasyon{ display:none; }
            &-full{
                .ems-container-section{
                    &-first{display: none;}
                }
            }

            .mobile-element{
                &-sort-btns{
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                    padding-top: 10px;
                    > a{
                        display: table-cell;
                        vertical-align: middle;
                        padding: 10px 15px;
                        &:first-child{text-align: left;}
                        &:last-child{text-align: right;}
                        span{
                            font-family: $regular;
                            font-size: 14px;
                            color: #28354f;
                            &:after{
                                font-family: 'icomoon';
                                content: '\e904';
                                font-size: 12px;
                                color: #28354f;
                                display: inline-block;
                                vertical-align: middle;
                                margin-left: 5px;
                            }
                        }
                    }
                }
            }
            .ems-container-full{
                .mobile-element{
                    &-filter-popup {
                        position: relative;
                        background: $lDark;
                        padding: 18px 40px;
                        text-align: center;
                    }
                    &-filter-text{
                        span{
                            display: block;
                            color: #fff;
                            font-family: $mediumA;
                        }
                    }
                    &-filter-btn{
                        position: absolute;
                        top: 50%;
                        right: 15px;
                        width: 24px;
                        height: 24px;
                        margin-top: -12px;
                        a{
                            display: block;
                            text-align: center;
                            i{line-height: 24px;}
                            i, i:before{
                                font-size: 12px;
                                color: #fff;
                            }
                        }
                    }
                }
                &-first{
                    background: $Gray;
                    padding-bottom: 10px;
                }
                &-center{
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    background: #fff;
                    top: 0;
                    left: 0;
                    z-index: 20;
                    @include setTransform(translateX(-100%));
                    @include transition(transform 333ms ease-in-out);
                    will-change: transform;
                    .ems-container-section {
                        &-inner{
                            position: absolute;
                            width: 100%;
                            height: calc(100% - 100px);
                            top: 50px;
                            left: 0;
                            overflow-x: hidden;
                            padding-bottom: 30px;
                        }
                    }
                }
            }
            .ems-prd-list .emosInfinite {margin-top: 10px;}
        }
        /*Search page layout*/
        &-list-search{
            padding-bottom: 80px;
            .ems-prd-list-paging-bottom table tbody tr td {
                .urunPaging_pageNavigation{
                    > span{display: none;}
                }
            }
            .ems-page-cover-text{
                max-width: 780px;
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                p{
                    width: 100%;
                    font-family: $regular;
                    font-size: 14px;
                    letter-spacing: 3px;
                    color: #0e3d6d;
                    line-height: normal;
                    text-transform: uppercase;
                    span{
                        display: inline-block;
                        line-height: normal;
                        padding-top: 0 !important;
                        div span{
                            font-family: $regular !important;
                            font-size: 14px !important;
                            letter-spacing: 3px;
                            color: #0e3d6d !important;
                            padding-top: 0 !important;
                        }
                    }
                }
            }
            .product-empty {padding:30px 20px;}
        }
        .urnList{
            span[id$="lbfURN_URUNYOK"]{
                .product-empty{
                    padding:30px 20px;
                }
            }
        }
    }

    .ems-prd-list{
        &-prop{display: none;}
        &-paging-bottom{
            table{
                tbody{
                    tr td {
                        .urunPaging_pageNavigation{
                            padding-right: 0;
                            > span{
                                display: block;
                                text-align: center;
                                span.paging, a.paging{
                                    &:first-child{
                                        margin-left: 0;
                                    }
                                }
                                a.paging{margin-left: 10px;}
                            }
                            a.tumunuGoster{
                                float: none;
                                display: block !important;
                                max-width: 220px;
                                margin-top: 20px;
                                margin-left: auto;
                                margin-right: auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }

    ul.emosInfinite{
        .ems-prd{
            padding:0 5px;
            width: 50%;
            &-content{
                padding: 5px 0 0 0;
            }
            &-price{
                &-first{
                    margin-left: 5px;
                }
                &-selling{
                    > div{margin-right: 5px;}
                }
            }
            &-group{ display:none !important; }
        }
    }

    .ems-page-404{
        padding-top: 50px;
        padding-bottom: 0;
        height: calc(100% - 50px);
        .page-empty{
            padding-left: 0;
            .product-empty{
                > .ems-container-full {
                    max-width: 100%;
                    text-align: center;
                    padding-left: 15px;
                    padding-right: 15px;
                }
                .logo{
                    padding-top: 15px;
                    padding-bottom:15px;
                    min-height: 50px;
                    img{max-width: 80px;}
                }
                .warning-container{
                    max-width: 100%;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                    .title-bold{
                        font-size: 170px;
                    }
                    .title{
                        font-size: 18px;
                    }
                    .link{
                        .btnDefault {
                            &:hover{
                                background: $lDark;
                            }
                        }
                    }
                }    
            }
        }
    }

    .filter-popup-ready{
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .filter-popup-animate{
        .ems-page-list .ems-container-full-center{ @include setTransform(translateX(0)); }
    }

}