/*General Definations*/
$baseHref: '//cosmetica.proj-e.com';
//$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1460px;
$siteContainerWidthMiddle: 1200px;
$siteContainerWidthFull: 100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);

/*Site fonts*/
$bold: "bold";
$sBold: "sBold";
$light: "light";
$regular: "regular";
$medium: "medium";
$pdRegular: "pdRegular";
$pdBoldItalic: "pdBoldItalic";

$dRegular: "dRegular";
$dItalic: "dItalic";
$tl:"tl";

$ltSpace:4px;

/*New colors*/
$lGray:#f6f7f9;
$lDark:#171d2f; 
$gray3:#a2a5ac;
$dGray: #5c606d;
$eGray:#e6e7e9;
$nDark: #28354f;
$darkBlack:#0d2048;
$red:#ff374a;
$green:#1edeac;
$gold: #ffb604;
$ffYellowL:#ffb604;

$fbBtnColor:#3656b7;
$btnColor: #06c0d9;
$btnAlternateColor:#171d2f;


/*Old site colors*/
$fdYellow:#fdde00;
$edGray:#ededed;
$border:#e6e7e9;
$inputborder:#e6e7e9;