/*General Definations*/
$baseHref: '//cosmetica.proj-e.com';
//$baseHref: '';

$marginAuto: 0 auto 0 auto;
$singleOuter: 1.6rem;

$siteContainerWidth: 1240px;
$siteContainerWidthMiddle: 1200px;
$siteContainerWidthFull: 100%;

/*site Rgba Background*/
$rgbBg: rgba(35,31,32,0.95);

/*Site fonts*/
$regular: "regular";
$medium: "medium";
$bold: "bold";
$regularA: "regularA";
$mediumA: "mediumA";
$boldA: "boldA";
$tl:"tl";



$ltSpace:0.5px;

/*Color style guides*/
$Gray:#e1e1e1;
$dGray:#a2a5ac;

$lDark:#171d2f;
$darkBlack:#000000;

$red:#ee0676;
$Pink:#fef0f7;
$Blue:#4849ff;
$gold: #ffb604;
$White: #ffffff;

$green:#2dad6c;
$lGreen: #5ffcad;

$fbBtnColor:#3656b7;
$btnColor: #06c0d9;
$btnAlternateColor:#171d2f;

$radius: 3px;

/*site border*/
$border:#d3d3d3;
$inputborder:#d3d3d3;